{% extends 'model.html' %}
{% block title %}Login{% endblock %}
{% block content %}
 
<p> 
  {% if error_message %}
  <div class="alert alert-danger" role="alert">
      {{error_message}}
    </div>
 {% endif %}
</p>  
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row border border-2 shadow p-5 mb-5 bg-body rounded fs-5">
                    <h1 class="text-center mb-4 fw-bolder">Login</h1>
            <div class="col align-self-center text-center">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="mb-5 row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                  </div>
                        <button type="submit" class="btn btn-dark ">Login</button>
                    </form> 
                    <div class="row">
                        <button type="submit" class="btn btn-outline-dark mt-5" ><a href="{% url 'signup' %}" class="text-decoration-none text-secondary">New user? Create an account</a></button>
                    </div>    
              </div>
        </div>    
    </div>

 
{% endblock %}